a.button {
    color: white;
	padding: 15px 30px;
	width: 70px;
	text-align: center;
}

/* GitHub button css */
#github-button:link {
	background-color: #660066;
    font-size: 20px;
	text-decoration: none;
}

#github-button:hover {
	color: white;
	background-color: #cc00cc;
	z-index: 1;
}

/* Facebook button css */
#facebook-button:link {
	background-color: #0033cc;
    font-size: 20px;
	text-decoration: none;
}

#facebook-button:hover {
	color: white;
	background-color: #0066ff;
}

/* Reddit button css */
#reddit-button:link {
	background-color: #cc3300;
    font-size: 20px;
	text-decoration: none;
}

#reddit-button:hover {
	color: white;
	background-color: #ff6600;
}

/* twitter button css */
#twitter-button:link {
	background-color: #0099ff;
    font-size: 20px;
	text-decoration: none;
}

#twitter-button:hover {
	color: white;
	background-color: #33ccff;
}