.jumbotron
{
    background: url('../images/city-background2.jpg') no-repeat center center;
    min-height: 400px;
	margin-bottom: 0px;
    background-size: cover;
}

.greydiv{
	min-height: 400px;
	background-color: #DDDDDD;
}


.descdiv {
	width: 80%;
}

div.container-fluid {
	padding-bottom:40px;
	padding-top:30px;
	!important
}

div#proj {
	background-color: #ffffff;
	width: 250px;
	height: 300px;
	box-shadow: 5px 0px 8px #000000;
}

hr {
	width:90%;
}