body {
	margin-bottom: 150px;
}

div {
	text-align: center;
}

#about {
	display: none;
	font-family: "Verdana";
}

#name {
	font-size: 30px;
	margin-top: 20px;
}

#desc {
	margin-left: 10%;
	margin-right: 10%;
	font-size: 16px;
}

.special:link {
	font-size: 22px;
	text-decoration: none;
}

div.contact {
	background-color: #a6a6a6;
	border: 5px solid white;
	border-radius:10%;
    height: 500px;
    width: 350px;
}