body {
	margin: 0px auto;
	background-color: #336699;
}

.main {
	background-color: white;
	border: 2px solid white;
	border-radius:10%;
	position: absolute;
    height: 420px;
    width: 900px;
    margin: -100px 0 0 -200px;
	top: 35%;
	left: 30%;
	right: 30%;
}

#portrait {
	border: 10px solid white;
	border-radius: 50%;
	float: left;
	top: -20px;
	left: 100px;
	position: relative;
	width: 150px;
}

/* Making a triangle */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
  z-index: -1;
  float: right;
}

#name {
	font-family: "Comic Sans MS";
	font-weight: bold;
	font-size: 26px;
	top: 35px;
	left: 150px;
	position: relative;
}

#title {
	font-family: "Comic Sans MS";
	font-weight: bold;
	font-size: 18px;
	top: 40px;
	left: 150px;
	position: relative;
}

#email {
	font-family: "Comic Sans MS";
	font-size: 14px;
	top: 70px;
	left: 150px;
	position: relative;
}

hr {
	position: relative;
	top: 75px;
	left: -100px;
	border: 0; 
	height: 0; 
	border-top: 3px solid rgba(0, 0, 0, 0.1); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#about {
	font-family: "Comic Sans MS";
	font-size: 14px;
	position: absolute;
	top: 170px;
	left: 160px;
	border: 0px;
	width: 550px;
}